<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/template.css" />
    <link
      rel="shortcut icon"
      href="/assets/images/icon.png"
      type="image/x-icon"
    />
    <title>Page Craft</title>
  </head>
  <body>
    <header class="navbar">
      <div class="logo">
        <img src="/assets/images/icon.png" alt="Page Craft Logo" />
      </div>
      <nav class="nav">
        <a href="/" class="nav-item">Home</a>
        <a href="/pages/about.html" class="nav-item">About</a>
        <a href="/pages/contact.html" class="nav-item">Contact</a>
        <a href="/templates/" class="nav-item active">Templates</a>
      </nav>
    </header>
    <div style="position: relative">
      <p style="position: absolute; margin: 1.5rem 3rem; color: gray">
        *Select and click any one template to create front page...
        <br />
        *Click "Generate" button after filling the form to create your front
        page.
        <br />
      </p>
    </div>
    <section class="container">
      <h2 class="template-head">Choose a Template</h2>
      <section class="template-section">
        <div class="template-box">
          <a href="/templates/template1.html">
            <img src="/assets/designs/design1.png" alt="template" />
          </a>
        </div>
        <div class="template-box">
          <a href="/templates/template2.html">
            <img src="/assets/designs/design2.png" alt="template" />
          </a>
        </div>
      </section>
    </section>
  </body>
</html>
